ALLOWED_ORIGINS="http://localhost:5173,http://localhost:3000"
JWT_SECRET="your_jwt_secret_here"
SMTP_EMAIL="your_email@gmail.com"
SMTP_PASSWORD="your_app_specific_password_here"
DATABASE_URL="postgresql://user:password@host:port/dbname"
TAVILY_API_KEY="tvly-..."
OPENROUTER_API_KEY="sk-or-v1-..."
REDIS_URL="rediss://default:password@host:port"
GROQ_API_KEY="gsk_..."
YOUTUBE_API_KEY="AIza..."
GEMINI_API_KEY="AQ..."
